body {
	padding-top: 10px;
	background: #EDF8FB;
}

body,html {
	color: #555D60;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial; 
	font-size: 16pt;
}

h2 {
	font-size: 18pt;
	color: #262626;
}

.title {
	font-size: 14pt;
	font-style: italic;
	color: #999;
}

#typesafeLogo {
	width: 120px;
}

.centered {
	text-align: center;
}

