body {
	padding-top: 10pt;
	padding-bottom: 40px;
}

body,html {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial; 
}

h2 {
	font-size: 18pt;
	line-height: 20pt;
	margin: 5pt 0;
	color: #262626;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}

#typesafeLogo {
	width: 120px;
}

.centered {
	text-align: center;
}

/************** Speaker details **************/

#speaker h4, #event h4 {
	font-size: 14pt;
	line-height: 16pt;
	font-style: italic;
	font-weight: 300;
	color: #999;
}

.pic {
	float:left; 
	margin-right: 10pt;
	margin-bottom: 10pt;
}

.summary {
	min-height: 60pt;
}

.img-rounded {
	border: 1pt solid #E0E0E0;
}
	
.box {
	border: 1pt solid #DBDBDB;
	background-color: white;
	border-radius: 2pt;
	margin-top: 20pt;
	clear:both;
}

.boxRow {
	clear: both;
	padding: 10pt;
	border-bottom: 1pt solid #DBDBDB;
}

.lastRow {
	border-bottom: none;
}
	
.box .header {
	float: left;
	width: 50pt;
	font-size: 13pt;
	color: #0DA4D0;
}

.box .rightArrow {
	float: right;
	width: 10pt;
	font-weight: 600;
	color: #999;
}

.box .content {
	margin-left: 60pt;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-size: 16pt;
	color: #262626;
}

.box .fullwidth {
	margin-left: 0;
}

/************** Event details **************/
#event h2 {
	color: #0DA4D0;
}

.description {
	font-size: 14pt;
	color: #262626;
	
	border: 1pt solid #DBDBDB;
	background-color: white;
	border-radius: 2pt;
	margin-top: 20pt;
	clear:both;
	padding: 10pt;
	
	/*
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	*/
	box-shadow: 1pt 1pt 4pt 0pt rgba(0,0,0,0.38);
	
	/*
Shadow Color: #000000
Shadow Opacity: 38%
Shadow Distance: 1pt
Shadow Size: 4pt
*/
}