body {
	padding-top: 10pt;
	padding-bottom: 40px;
	font-size: 13pt;
}

body,html {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial; 
}

h1, h2 {
	color: #0DA4D0;
}

h2 {
	font-size: 14pt;
	line-height: 18pt;
	padding-top: 10pt;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}

#typesafeLogo {
	width: 120px;
	margin-top: 2em;
}

.centered {
	text-align: center;
}

.btn {
	background-image: -webkit-linear-gradient(top, #B0BAC1, #848E96);
	background-image: -o-linear-gradient(top, #B0BAC1, #848E96);
	background-image: linear-gradient(to bottom, #B0BAC1, #848E96);
	border-color: #8B9696;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-size: 16pt;
	color: #FFFFFF;
	text-shadow: 0 -1px rgba(76, 76, 76, 0.5);
}

.btn:hover {
	color: #FFF;
	background-position: 0;
}

/************** Speaker details **************/

#speaker h2 {
	color: #262626;
}

#speaker h2, #event h2 {
	margin: 0pt;
}

#speaker h4, #event h4 {
	font-size: 12pt;
	line-height: 14pt;
	font-style: italic;
	font-weight: 300;
	color: #999;
	margin: 0pt;
}

.pic {
	float:left; 
	margin-right: 10pt;
	margin-bottom: 10pt;
	overflow:hidden;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 0 0 1px #DBDBDB;
}

.summary {
	min-height: 60pt;
}

.box {
	border: 1pt solid #DBDBDB;
	background-color: white;
	border-radius: 4px;
	margin-top: 20pt;
	clear:both;
}

.boxRow {
	clear: both;
	padding: 10pt;
	border-bottom: 1pt solid #DBDBDB;
}

.lastRow {
	border-bottom: none;
}
	
.box .header {
	float: left;
	width: 40pt;
	font-size: 11pt;
	color: #0DA4D0;
	text-align: right;
}

.box .rightArrow {
	float: right;
	width: 10pt;
	height: 15pt;
	background-image: url("/assets/img/arrow.right.png")
}

.box .content {
	margin-left: 50pt;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-size: 12pt;
	line-height: 1.5em;
	color: #262626;
	word-wrap: break-word;
}

.box a {
	color: #262626;
}

.box .fullwidth {
	margin-left: 0;
}

/************** Event details **************/
#event h2 {
	color: #0DA4D0;
}

.description {
	font-size: 13pt;
	line-height: 1.5em;
	color: #262626;
	border: 1pt solid #DBDBDB;
	background-color: white;
	border-radius: 4px;
	margin-top: 20pt;
	clear:both;
	padding: 10pt;
	box-shadow: 0 1 4px 0pt rgba(0,0,0,0.1);
}

.actions {
	margin-top: 20pt;
}

.block {
	display: block;
}

#event .share {
	margin-top: 5pt;
}
