# DB credentials
db.default.user=YourDBUser
db.default.password=YourDBUserPassword

# The secret key is used to secure cryptographics functions.
application.secret=AnyStringOfLength16xNWillDo12345

# Pusher configuration 
# Keep Pusher disabled or get a free account and enter your credentials here
pusher.enabled=false
pusher.appId=YourAppId
pusher.key=YourKey
pusher.secret=YourSecret

# Internal security configuration
security.token=AnyValueWillDo

# Email configuration
smtp.user="user@example.com"
smtp.password=YourPassword