@* Prints a box containing the non-empty fields from the list of name,value fields provided. *@
@(fields: (String, Option[String], Option[String])*)

@defining(fields.filter(field => field._2.isDefined)) { nonEmptyFields =>
	
	@if(nonEmptyFields.size > 0) {
		<div class="box">
		@for(field <- nonEmptyFields){
			<div class="boxRow @if(field == nonEmptyFields.last){lastRow}">
				<div class="header">
					@field._1
				</div>
				<div class="content">
					@if(field._3.isDefined) {
						<a href="@field._3.getOrElse("")" target="_blank">
							@field._2.get
						</a>
					} else {
						@field._2.get
					}
				</div>
			</div>
		}
		</div>
	}
}

