@(event: S1Event, speakers: List[Speaker], hideActions: Boolean)(implicit flash:Flash) 

@import tags._


@main {
	
	<div id="event">
		<div class="summary">
			<div class="pic">
				<a href="scala1://speakers/@speakers(0).id.get">
					<img src="@routes.Assets.at("img/profile/" + speakers(0).id.get + ".jpg")" 
						onerror="this.src='@routes.Assets.at("img/profile/generic.png")';"  
						class="img-rounded" 
						width="80pt">
				</a>
			</div>
			<h2>@event.title</h2>
			<h4>@Messages("event.by") @speakers.map(_.name).mkString(", ")</h4>
		</div>
		
		<div class="description">@event.description</div>

		@if(!hideActions) {
			<div class="actions">
				<a href="scala1://events/@event.id.get/discussion" class="btn block">@Messages("event.discussion")</a>
				<a href="scala1://events/@event.id.get/share" class="btn block share">@Messages("event.share")</a>
			</div>
		}

	</div>
}
