@()(implicit flash:Flash)

@main {
	
	<h2>@Messages("title.about")</h2>
	<p>@Messages("about.details")</p>
	
	<h2>@Messages("about.events")</h2>
	<p>@Messages("about.events.details")</p>

	<h2>@Messages("about.discussion")</h2>
	<p>@Messages("about.discussion.details")</p>

	<h2>@Messages("about.find")</h2>
	<p>@Messages("about.find.details")</p>

	<h2>@Messages("about.typesafe")</h2>
	<p>@Messages("about.typesafe.more")</p>
	
	<div class="centered">
		<a href="http://www.typesafe.com" target="_blank">
			<img id="typesafeLogo" src="@routes.Assets.at("img/typesafe.logo.png")">
		</a>
	</div>
}
