@()(implicit flash:Flash)

@mobile {
	
	<h1>@Messages("title.about")</h1>
	<p>@Messages("about.details")</p>
	
	<h1>@Messages("about.events")</h1>
	<p>@Messages("about.events.details")</p>

	<h1>@Messages("about.discussion")</h1>
	<p>@Messages("about.discussion.details")</p>

	<h1>@Messages("about.find")</h1>
	<p>@Messages("about.find.details")</p>

	<h1>@Messages("about.typesafe")</h1>
	<p>@Messages("about.typesafe.more")</p>
	
	<div class="centered">
		<a href="http://www.typesafe.com" target="_blank">
			<img id="typesafeLogo" src="@routes.Assets.at("img/typesafe.logo.png")">
		</a>
	</div>
	
	<h1>@Messages("about.sponsors")</h1>
	<h3>Platinum</h3>
	<a href="https://www.novus.com/" target="_blank">Novus</a> &middot;
	<a href="http://www.pellucid.com/" target="_blank">Pellucid</a> &middot;
	<a href="http://tech.gilt.com/" target="_blank">Gilt</a>

	<h3>Gold</h3>
	<a href="http://www.vmware.com/" target="_blank">Cloud Fundry</a> &middot;
	<a href="http://www.tapad.com/" target="_blank">Tapad</a> &middot;
	<a href="http://newrelic.com/" target="_blank">New Relic</a> &middot;
	<a href="http://jetbrains.com/" target="_blank">Jet Brains</a> &middot;
    <a href="http://skillsmatter.com/" target="_blank">Skills Matter</a>

	<h3>Silver</h3>
	<a href="http://www.pozitron.com/" target="_blank">Pozitron</a> &middot;
	<a href="http://www.escalatesoft.com/" target="_blank">Escalate Software</a> &middot;
	<a href="http://www.10gen.com/" target="_blank">10gen</a> &middot;
	<a href="http://tindr.co/" target="_blank">Tindr</a> &middot;
	<a href="http://www.sharethrough.com/" target="_blank">Sharethrough</a> &middot;
	<a href="http://www.google.com/" target="_blank">Google</a> &middot;
	<a href="http://www.tumblr.com" target="_blank">Tumblr</a>

	<h3>Friends</h3>
	<a href="http://www.manning.com/" target="_blank">Manning</a> &middot;
	<a href="http://marakana.com/" target="_blank">Marakana</a>
}
