@(content: Html)(implicit flash:Flash)

@import tags._

<!DOCTYPE html>

<html>
	<head>
		<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" name="viewport" />

		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.mobile.css")">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">

		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">

		<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
	</head>

	<body>
		<a name="top"></a>

		<div class="container">
			@messages()
			@content
		</div>
	</body>

</html>
