@(speaker: Speaker, events: List[S1Event])(implicit flash:Flash) 

@import tags._
@import tools.StringTools._

@main {

	<div id="speaker">
		<div class="summary">
			<div class="pic">
				<img src="@routes.Assets.at("img/profile/" + speaker.id.get + ".jpg")" 
					onerror="this.src='@routes.Assets.at("img/profile/generic.png")';"  
					width="80pt">
			</div>
			<h2>@speaker.name</h2>
			<h4>@speaker.title</h4>
		</div>
		
		@box(Messages("speaker.about") -> speaker.about)
		
		@box(
			Messages("speaker.twitter") -> speaker.twitter.getOrElse(""), 
			Messages("speaker.email") -> speaker.email.getOrElse(""), 
			Messages("speaker.website") -> cleanurl(speaker.url.getOrElse(""))
		)
		
		@eventList(events)
	
	</div>
}
