@(speaker: Speaker)(implicit flash:Flash) 

@main {

	<div id="speaker">
		<div class="summary">
			<div style="float:left; margin-right: 10px;">
				<img src="@routes.Assets.at("img/profile/" + speaker.id.get + ".jpg")" 
					onerror="this.src='@routes.Assets.at("img/profile/generic.png")';"  
					class="img-rounded" 
					width="80pt">
			</div>
			<h2>@speaker.name</h2>
			<p class="title">@speaker.title</p>
		</div>
		
		<div class="box">
			<div class="boxRow">
				<div class="header">
					About
				</div>
				<div class="content">
					@speaker.about
				</div>
			</div>
		</div>
		
		<div class="box">
			<div class="boxRow">
				<div class="header">
					Twitter
				</div>
				<div class="content">
					@speaker.twitter
				</div>
			</div>
			
			<div class="boxRow">
				<div class="header">
					E-mail
				</div>
				<div class="content">
					@speaker.email
				</div>
			</div>
		
			<div class="boxRow">
				<div class="header">
					Website
				</div>
				<div class="content">
					@speaker.url
				</div>
			</div>
		</div>
	
	</div>
}
